@model CustomerManager.Models.ListPetsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var pets in Model.Pets)
        {
            <p>@pets.Name @pets.Age @</p>
        }

    </div>
</body>
</html>
