<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href="styles.css">
<head>
	<title>Template</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/main.js"></script> <!-- this is where you put a link to an external js file
	<script type="text/javascript" src="script.js"></script> -->
	<script type='text/javascript'>
		$(document).ready(function() {

	</script>
	<style>

	</style>
</head>
	
<body>
	<div>
		
	</div>	
</body>
</html>